# Node.js modules
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs
*.log

# Build output
dist
build

# Dependency directories
jspm_packages

# Cache directories
.vite
.cache
.cache-loader
*.cache

# Editor directories and files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Local environment files
.env.local
.env.*.local

# Miscellaneous
.DS_Store
*.swp
*~
*.swo
Thumbs.db